= render partial: 'public/menu', locals: { current_page: :messenger }
.container
  .main-body
    %h2.text-center.mb-4 Messenger
    - (Account.all - [current_account]).each do |account|
      %li= link_to account.full_name, direct_message_path(account.id), data: {behavior: "chatroom-link", chatroom_id: "" }
