- unless @posts.nil?
  - if @posts.empty?
    %h2 No posts found matching your query.
  - else
    %h2 Search results
    %table{style: "width: 100%;"}
      %thead
        %tr
          %th Title
          %th Content
      %tbody
        - @posts.each do |post|
          %tr
            %td= post.title
            %td= post.content
            %td= link_to 'View', post_path(post.id), class: 'btn btn-primary'
      %tbody
