- @accounts.each do |account|
  = form_with(model: current_account.active_relationships.find_by(followed_id: account.id), |
    html: { method: :delete }, remote: true) do |f|                                     |
    = f.submit "Unfollow", class: "btn btn-primary"
