%body
  %form
    %section
      .container#myForm
        %h2 Maps
        %input{type: "hidden", value: "false"}/
        .container
          .form-check-inline
            %label.form-check-label
              %input.form-check-input{name: "tour", type: "radio", value: "current location"}
              Current Location
          .form-check-inline
            %label.form-check-label
              %input.form-check-input{name: "tour", type: "radio", value: "online"}
              Online
          .form-check-inline
            %label.form-check-label
              %input.form-check-input{name: "tour", type: "radio", value: "connection"}
              Connection
          .form-check-inline
            %label.form-check-label
              %input.form-check-input{name: "tour", type: "radio", value: "max connection"}
              Max Connection
        .container#map
