Your Weekly Notification is here! 😺
\=============================================

INTERESTING INFO
- @posts.each do |post|
  = post.title
  %br/
  = post.content


\===============================================
