.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-body.border-bottom.shadow-sm
  %h5.my-0.me-md-auto.font-weight-normal Social Network
  - if account_signed_in?
    .dropdown
    %button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
      Menu
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
      %li
        %a.dropdown-item{href: account_profiles_path} My Account
      %li
        %a.dropdown-item{href: posts_path} Posts
      %li
        = link_to "Sign Out" , destroy_account_session_path, method: :delete, class: 'dropdown-item'
  - else
    = link_to 'Login', new_account_session_path, class: 'btn btn-lg btn-primary me-3'
    = link_to 'Sign Up', new_account_registration_path, class: 'btn btn-secondary btn-lg'
