.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-body.border-bottom.shadow-sm
  %a.navbar-brand.my-0.me-md-auto.font-weight-normal.h3{href: posts_path, style: 'color: black;'} Social Network
  .btn-group
    %button.btn.btn-primary.dropdown-toggle.me-4{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
      Change language
    %ul.dropdown-menu
      %li
        %a.dropdown-item{href: root_path(locale: :en), style: 'color: black;'}
          %span.flag-icon.flag-icon-us
            English
      %li
        %a.dropdown-item{href: root_path(locale: :ru), style: 'color: black;'}
          %span.flag-icon.flag-icon-de
          Русский
  - if account_signed_in?
    - if current_account.admin?
      .span
        Admin
      = render 'search/form'
    %ul.nav-item
      .nav-item
        - if policy(Post).new?
          %a.nav-link.active{href: new_post_path, style: 'color: black;'} Create Post
      .nav-item
        %a.nav-link{href: maps_path, style: 'color: black;'} Map
    .nav-item.dropdown
      %button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
        Menu
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
        %li
          %a.dropdown-item{href: account_profile_path(current_account)} My Account
        %li
          %a.dropdown-item{href: posts_path} My Posts
        - if policy(Account).index?
          %li
            %a.dropdown-item{href: admin_accounts_path} Accounts
        - if policy(Category).index?
          %li
            %a.dropdown-item{href: categories_path} Update Categories
        %li
          = link_to "Sign Out" , destroy_account_session_path, method: :delete, class: 'dropdown-item'
  - else
    = link_to t('Login'), new_account_session_path, class: 'btn btn-lg btn-primary me-3'
    = link_to t('Sign Up'), new_account_registration_path, class: 'btn btn-secondary btn-lg'
