#decisionModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "decisionModal", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-body
        %h5#decisionModalLabel.modal-title
          Friend Request from #{"#{object.full_name}"}
      .modal-footer
        = link_to accept_friend_account_friendships_path(object) do
          %button.btn.btn-accept.text-white.font-weight-bold{type: "button"}
            %i.fas.fa-user-check
            Accept
        = link_to decline_friend_account_friendships_path(object) do
          %button.btn.btn-decline.text-white.font-weight-bold{type: "button"}
            %i.fas.fa-user-times
            Decline
