.pagination > li > a, .pagination > li > span {
  background-color: #F5F5F5;
  padding: 8px 16px;
  color: #87CEFA;
  text-decoration: none;
}

.pagination > li > a {
  margin-right: 5px;
  text-decoration: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #DCDCDC;
  text-decoration: none;
}
