.container
  %h1.mt-auto Сategories
  .row
    - @categories.each do |category|
      .col-md-4
        .card
          .card-body.d-flex.flex-direction-col.justify-content-between
            %div
              %h5.card-title= category.name
              %p.card-text
                - category.interests.each do |interest|
                  = interest.name
            .dropdown
              %a#dropdownMenuLink.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", role: "button"}
                Menu
              %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
                %li
                  %a.dropdown-item{href: edit_category_path(category) } Update Category Name
                %li
                  = link_to 'Delete Category', category_path(category), method: :delete, class: 'btn btn-danger dropdown-item'
