%link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel: "stylesheet"}/
.container
  .row
    .col-md-12
      #profile-friends.tab-pane.fade.in.active.show
        %h2.text-center Possible Friends
        - @possibile_friends.each do |possibile_friend|
          .container
            .row
              .col-md-8
                .people-nearby
                  .nearby-user.panel-white
                    .row
                      .col-md-2.col-sm-2
                        %img.profile-photo-lg{alt: "user", src: "https://bootdey.com/img/Content/avatar/avatar7.png"}/
                      .col-md-7.col-sm-7
                        %h5
                          %a.profile-link{href: account_profile_path(possibile_friend)}
                            = possibile_friend.full_name
                      .col-md-3.col-sm-3
                        = render 'account/form/follow_form', account: possibile_friend if current_account
