<div class="row mb-3 text-center">
  <div class="col">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">News</h4>
    </div>
    <div class="card-body"> </div>
  </div>
</div>
  <div class="col">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"> Sign Up Today</h4>
      </div>
      <div class="card-body">
        <p> Click here to get start</p>
        <%=link_to 'Sign Up Now', new_user_registration_path, class: "btn btn-lg btn-block btn-primary" %>
      </div>
    </div>
  </div>
</div>
